body{
    background-color: crimson;
}
h1{
    color:lightskyblue;
}
#show-sketch{
    float: right;
}
p{
    padding-top: 10px;
    font-size: 24px;
    color: moccasin;
}
#score{
    float:left;
    font-size: 20px;
    color: blue;
}
#time{
    float:right;
    font-size: 20px;
    color:blue;
}
